# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api
NEXT_PUBLIC_IMG_BASE_URL=http://localhost:8080

# Analytics & Tracking
NEXT_PUBLIC_FB_PIXEL_ID=1537153721069604
NEXT_PUBLIC_TIKTOK_PIXEL_ID=456785678567

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBLM4536meqOZ8_FqHHkgUu_S4qui3D8z0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=thakajabewithcursor.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DB_URL=https://thakajabewithcursor-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=thakajabewithcursor

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=Kx8fJ2mN9pQ3rT5vW7yZ1aB4cD6eF8gH0iJ2kL4mN6oP8qR