# Server Configuration
PORT=8080
NODE_ENV=development
BACKEND_URL=hello
FRONTEND_URL=hello

# Database
MONGODB_URI=hello

# JWT Configuration
JWT_SECRET=hello

# SSLCOMMERZ Configuration
SSL_STORE_ID=hello
SSL_STORE_PASSWD=hello@ssl
SSL_SUCCESS_URL=hello
SSL_FAIL_URL=https:/hello/fail
SSL_CANCEL_URL=https:hello
SSL_IPN_URL=httpshello

# Analytics & Tracking
FB_PIXEL_ACCESS_TOKEN=your_facebook_pixel_access_token
TIKTOK_ACCESS_TOKEN=your_tiktok_access_token
TIKTOK_PIXEL_ID=hello
TIKTOK_TEST_EVENT_CODE=hello

# Firebase Admin Configuration
FIREBASE_PROJECT_ID=hello
FIREBASE_CLIENT_EMAIL=hellohello
FIREBASE_PRIVATE_KEY=hello

# Cloudflare R2 Configuration
CF_ACCOUNT_ID=your_cloudflare_account_id
CF_R2_ACCESS_KEY_ID=your_r2_access_key_id
CF_R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
CF_R2_BUCKET_NAME=your_r2_bucket_name
CF_R2_REGION=auto
CF_R2_PUBLIC_DOMAIN=your_custom_domain.com  # Optional: custom domain for R2 bucket
